/*  your css code here. If applicable */
.left{
	text-align:left;
}
.right{
	text-align:right;
}
.center{
	text-align:center;
}
.middle td,table{
	border:1px solid black;
	width:100%;
}

.middle td, tr{
	width:15%;
}

.colorGreen{
	background-color:green;
}

.colorBlue{
	background-color:blue;
}